.btn {
    @apply text-white bg-[#ee3231] uppercase px-8 py-4;
}
.section-title {
    @apply mb-8 md:mb-14;
    .title {
        @apply text-xl md:text-4xl;
        position: relative;
        padding-left: 50px;
        // font-size: 36px;
        text-transform: uppercase;
        font-weight: 700;
        &:before {
            background-color: #ee3231;
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            height: 2px;
            width: 30px;
        }
    }
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    color: #ee3231;
}

@media (max-width: 320px) {
    // recapcha
    div[render="explicit"] {
        > div {
            > div {
                background-color: rebeccapurple;
                width: 260px !important;
                iframe {
                    width: 260px !important;
                }
                .rc-anchor-normal {
                    width: 260px !important;
                }
            }
        }
    }
}

.image-container {
    width: 100%;

    > div {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}
