footer {
    .footer-top {
        @apply text-white;
        // color: #fcfcfc;
        // background: #a9a9a9;
        background: #4c7964;
        background: rgb(57, 177, 108);
        background: linear-gradient(
            145deg,
            rgba(57, 177, 108, 1) 0%,
            rgba(32, 96, 86, 1) 78%,
            rgba(25, 21, 76, 1) 100%
        );
    }
    .footer-bottom {
        @apply text-white;
        background: #4c7964;
        background: rgb(57, 177, 108);
        background: linear-gradient(
            145deg,
            rgba(57, 177, 108, 1) 0%,
            rgba(32, 96, 86, 1) 78%,
            rgba(25, 21, 76, 1) 100%
        );
    }
}
