.gallery-wrapper {
    .card-benefit {
        @apply bg-[#dad7d7] rounded-xl p-4 w-[375px];
        box-sizing: border-box;
        .icon {
            width: 24px;
            height: 24px;
            background-size: cover;
            background-image: url("/assets/images/socmed/pdf.png");
            &.docs {
                background-image: url("/assets/images/socmed/google-docs.png");
            }
        }
    }
    .benefit {
        @apply cursor-pointer;
        &:hover {
            .title {
                @apply bg-white text-gray-500 transition-all;
            }
        }
        .title {
            @apply transition-all text-center;
        }
    }
    .gallery-photo-tabs {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            @apply hidden;
        }
    }
}
