.homebanner {
    @media (max-width: 768px) {
        background-size: cover;
        background-position: center;
    }
    background-size: calc(7 / 12 * 100vw) 100vh;
    background-repeat: no-repeat;
    background-position: right;
    .slide-inner {
        .homebanner-ornamen {
            width: calc(5 / 12 * 100vw);
            height: 100vh;
            position: absolute;
            z-index: 4;
            // background: rgb(49, 135, 104);

            // background: linear-gradient(
            //     45deg,
            //     #39b16c 0%,
            //     #1d2e5e 100%
            // );

            // background: linear-gradient(
            //     to right,
            //     #39b16c 0%,
            //     #1d2e5e 100%
            // );

            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#39b16c+0,1d2e5e+75,1d2e5e+100 */
            background: linear-gradient(105deg, #39b16c 0%, #1d2e5e 75%, #1d2e5e 100%);

            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#39b16c+0,1d2e5e+75,1d2e5e+100 */
            // background: linear-gradient(
            //     135deg,
            //     #39b16c 0%,
            //     #1d2e5e 75%,
            //     #1d2e5e 100%
            // );

            // background: linear-gradient(45deg, #39b16c 0%, #1d2e5e 75%, #1d2e5e 100%);

            left: 0px;
            &::before {
                content: "";

                position: absolute;
                border-bottom: 100vh solid transparent;
                border-left: 208px solid #1d2e5e;
                border-top: 280px solid transparent;
                right: -207px;
            }
        }
    }
}
.section-worldwide {
    @apply py-20;
    background-image: url("/assets/ornamen/map-home.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right;
    .info-title {
        max-width: 50.5rem;
    }
    .info-box {
        display: block;
        padding-top: calc((1 / 1) * 100%);
        position: relative;
        overflow: hidden;
        background: linear-gradient(90deg, #5ced9a 3.67%, #68abbf 71.67%, #6a86d2 102.67%);
        border-radius: 50%;
        .info-box-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            @apply p-8 md:p-[3.4rem];
            .content {
                @apply flex flex-col justify-center w-full h-full p-4 md:p-[3.2rem] text-white text-center rounded-full;
                background: linear-gradient(90deg, #5ff59f 3.67%, #518494 71.67%, #5a72b3 102.67%);
                .info-title {
                    @apply text-lg max-w-[300px] mx-auto sm:text-3xl md:leading-tight font-semibold;
                }
            }
        }
    }
    .info-detail-list {
        @apply flex-1 flex flex-col justify-center gap-8;
    }
    .list {
        @apply gap-6;
        h5 {
            @apply text-4xl font-bold;
        }
        .list-text {
            @apply text-base pb-4 border-b;
        }
    }
}
.section-our-client {
    .swiper-wrapper {
        @apply flex items-center;
    }
    .swiper-slide {
        width: 100% !important;
    }
}
.section-product-category {
    .swiper-slide {
        width: 100% !important;
        max-width: 280px;
    }
}
.section-our-client {
    .swiper-slide {
        width: 100% !important;
        max-width: 220px;
    }
}
.banner-swiper {
    .swiper-wrapper .swiper-slide {
        @apply bg-gray-700;
    }
}
.section-product-category {
    @apply relative bg-[#f4f4f4];
    .each-product-unggulan {
        transition: all 0.3s ease-out;
        &:hover {
            opacity: 0.7;
        }
    }
    .bg-ornamen {
        @apply absolute top-0 left-0 w-full h-full;
        background-image: url("/assets/ornamen/representative.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        // opacity: 0.4;
    }
}
.section-about-us {
    @apply relative bg-[#f4f4f4];
    @media (min-width: 768px) {
        background-image: linear-gradient(
                to right,
                rgba(244, 244, 244, 1) 0,
                rgba(244, 244, 244, 0.2) 30%,
                rgba(255, 255, 255, 0) 100%
            ),
            url("/assets/images/test.jpeg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: bottom right;
    }
}
.homebanner-about-us > img {
    @apply w-full;
}
