.section-product {
    .title {
        color: #444;
        font-size: 30px;
        font-weight: 500;
        line-height: 1.2;
    }
    .subtitle {
        font-size: 24px;
        color: #dc3545;
    }
    //Swiper
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    body {
        background: #000;
        color: #000;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .swiper-slide {
        background-size: cover;
        background-position: center;
    }

    .mySwiper2 {
        height: 80%;
        width: 100%;
    }

    .mySwiper {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .section-title {
        .title {
            @apply font-bold;
        }
    }
    .each-spec-wrapper {
        .title {
            @apply text-[#dc3545];
        }
        .detail {
            @apply text-[#444444];
            ul {
                @apply list-disc ml-4;
                li {
                    @apply mb-1 text-[#444444];
                }
            }
        }
    }

    .spec-table {
        @apply text-xs md:text-base;
        .header-title {
            @apply flex justify-center text-center bg-[#37A76B] text-white rounded-xl p-4;
        }
        .list {
            @apply border-b;
            color: rgba(68, 68, 68, 0.7);
            > div {
                @apply relative px-0 py-4 text-center;
                &:nth-child(1) {
                    &::after {
                        @apply absolute w-4 h-[1px] block bg-white bottom-[-1px] right-0;
                        content: "";
                    }
                }
            }
        }
        @media (max-width: 1024px) {
            .header-title-wrap,
            .list {
                > div {
                    &:nth-child(1) {
                        @apply hidden #{!important};
                    }
                }
            }
            .header-title-wrap {
                @apply mb-4;
            }
            .list {
                @apply relative;
                &-first {
                    @apply border-t rounded-t-lg overflow-hidden;
                }
                &::before {
                    @apply absolute top-0 w-full p-4 font-bold text-center bg-white z-10 border border-t-0;
                    content: attr(data-title);
                }
                > div {
                    &:nth-child(2) {
                        @apply border-l;
                    }
                    @apply pt-[3rem] pb-0 border-r;
                    > div {
                        @apply py-4 px-1;
                    }
                }
            }
        }
    }
}
